{% extends 'base.html' %}

{% block content %}

    <h1><center>Materi Peluang</center></h1>
    <h2><justify>Pencacahan</justify></h2>
    <p>Pencacahan merupakan suatu materi yang membahas bagaimana cara menentukan banyaknya cara melalui suatu percobaan. Untuk menentukan banyaknya sebuah percobaan dapat dilakukan melalui aturan perkalian ataupun penjumlahan.</p>
    <h2><justify>Peluang</justify></h2>
    <p>Peluang merupakan materi yang membahas bagaimana melihat kemungkinan terjadinya suatu kejadian. Peluang sudah pasti berkaitan dengan titik sampel, dan kemungkinan banyaknya titik sampel.</p>
    <h2><justify>Kejadian Majemuk</justify></h2>
    <p>Kejadian Majemuk terjadi apabila suatu percobaan terjadi lebih dari satu kali sehingga menghasilkan kejadian baru. Contoh Kejadian majememuk adalah jika sebuah kotak terdapat 2 bola merah dan 3 bola hijau. Dari kotak tersebut, Anda diambil 1 buah bola merah dan 1 buah bola hijau. Kejadian terambilnya 1 buah bola merah dan 1 buah bola hijau merupakan kejadian majemuk.</p>

{% endblock %}